body
    margin: 0
    padding: 0

#header-main
    background-image: url('../images/js.gif')
    background-attachment: fixed
    background-size: cover
    background-position: center center
    height: 100vh
    