@font-face 
    font-family: Ul
    src: url(./Comme-ExtraLight.ttf)

=font($family,$size,$color)
    font-family: $family
    font-size: $size
    color: $color

*
    margin: 0
    padding: 0

=hover()
    &:hover
        background-color: #ccc
    &:active
        background-color: #aaa

div.name
    height: 10vh
    float: left
    background-color: black
    span
        +font(Ul,7vh,white)
        font-weight: lighter
    
header
    height: 100px
    height: 7vh
    position: fixed
    top: 0
    background-color: white
    width: 100%
    z-index: 3
    nav
        float: right
        margin: 0
        a
            color: black
            button
                width: 15vw
                height: 7vh
                border-width: 0
                background-color: inherit
                margin: 0
                font-family: Ul
                font-weight: lighter
                font-size: 3vh
                +hover()


.mobileNav
    position: fixed
    top: 100px
    top: 6vh
    width: 100%
    background-color: #eee
    z-index: 2
    a
        height: 70px
        font-size: 40px
        text-align: center
        height: 5vh
        +font(Ul,3vh,#444)
        font-weight: lighter
        border-radius: 0
        display: block
        +hover()
    @media (orientation: landscape)
        top: 11vh
        font-size: 6vh
        a
            height: 10vh
            font-size: 6vh

header.mini
    height: 100px
    height: 6vh
    position: fixed
    top: 0
    background-color: white
    width: 100%
    z-index: 3
    div
        height: 8vh
        background-color: black
        font-size: 5vh
        color: white
        float: left
        font-family: Ul
    img
        float: right
        height: 6vh         
        background-color: inherit
        +hover()
    @media (orientation: landscape)
        height: 11.5vh
        img
            height: 11.5vh   
        div
            height: 13vh
            font-size: 10vh

#header-image
    background-color: #f8da59
    background-image: url('../images/js.gif')
    background-attachment: fixed
    -webkit-background-attachment: fixed
    background-size: cover
    background-position: center center
    height: 950px
    height: 100vh
    z-index: 1
    button,a
        position: absolute
        bottom: 5px
        background-color: #f8da59
        color: #29293f
        border-radius: 32px
        padding: 4px
        border: 3px solid #29293f
    #credit
        right: 5px
    #stopGif
        left: 5px

.black-bg
    background-color: #333
    color: white
    padding-top: 7vh
    padding-bottom: 7vh 

img.max-width
    width: 100%

img.max-width-res
    width: 100%
    @media (orientation: landscape)
        width: 60%
        display: block
        margin-left: auto
        margin-right: auto

#About-Me
    padding-top: 7vh
    padding-bottom: 7vh 
    .text-right
        text-align: right
    .text-center
        text-align: center

#Projects
    padding-top: 6vh
    padding-bottom: 7vh 
    background-color: #bdc3c7
    font-weight: bolder
    text-align: center
    +font(Ul,default,white)
    div.container
        position: relative
        div
            color: #444
            position: absolute
            box-sizing: border-box
            background-color: #ddd
            border: 1px solid #bdc3c7
            img
                display: block
            &:hover
                img
                    box-shadow: 0 0 6px #3498db

    div.container.hidden-xs.hidden-sm
        div 
            width: 100/3 *1%
            border-width: 10px
            padding: 2%
    div.container.hidden-xs.hidden-md
        div 
            width: 50%
            border-width: 7px
            padding: 4%
    div.container.hidden-sm.hidden-md
        div 
            width: 100%
            border-width: 10px
            border-left-width: 6vw
            border-right-width: 6vw
            border-top-width: 3vh
            border-bottom-width: 3vh
            padding: 6%
            @media (orientation: landscape)
                border-left-width: 10vw
                border-right-width: 10vw
                border-top-width: 6vh
                border-bottom-width: 6vh