@font-face {
  font-family: Ul;
  src: url(./Comme-ExtraLight.ttf);
}

* {
  margin: 0;
  padding: 0;
}

div.name {
  height: 10vh;
  float: left;
  background-color: black;
}

div.name span {
  font-family: Ul;
  font-size: 7vh;
  color: white;
  font-weight: lighter;
  background-color: inherit;
}

header {
  height: 100px;
  height: 7vh;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 3;
}

header nav {
  float: right;
  margin: 0;
}

header nav a {
  color: black;
  margin: inherit;
}

header nav a button {
  width: 15vw;
  height: 7vh;
  border-width: 0;
  background-color: inherit;
  margin: 0;
  font-family: Ul;
  font-weight: lighter;
  font-size: 3vh;
}

header nav a button:hover {
  background-color: #ccc;
}

header nav a button:active {
  background-color: #aaa;
}

header nav img {
  height: 7vh;
  background-color: inherit;
}

header nav img:hover {
  background-color: #ccc;
}

header nav img:active {
  background-color: #aaa;
}

.mobileNav {
  position: fixed;
  top: 7vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #eee;
  z-index: 2;
}

.mobileNav a {
  border-radius: 0;
  color: black;
  display: block;
  width: 100%;
}

.mobileNav a:hover {
  background-color: #ccc;
}

.mobileNav a:active {
  background-color: #aaa;
}

#header-image {
  background-color: #f8da59;
  background-image: url("../images/js.gif");
  background-attachment: fixed;
  -webkit-background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  height: 950px;
  height: 100vh;
  z-index: 1;
}

#header-image #credit {
  position: absolute;
  bottom: -5px;
  right: 5px;
  background-color: #f8da59;
  border-radius: 32px;
  padding: 4px;
  border: 3px solid #29293f;
}

#header-image #credit a {
  color: #29293f;
}

#header-image #stopGif {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: #29293f;
  background-color: #f8da59;
  border-radius: 32px;
  padding: 4px;
  border: 3px solid #29293f;
}

.black-bg {
  background-color: #333;
  color: white;
  padding-top: 7vh;
  padding-bottom: 7vh;
}

img.max-width {
  width: 100%;
}

#About-Me {
  padding-top: 7vh;
  padding-bottom: 7vh;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6), white), url("../images/back.png");
  background-repeat: repeat-y;
  background-size: contain;
}

#Projects {
  padding-top: 6vh;
  padding-bottom: 7vh;
  font-family: Ul;
  background-color: #bdc3c7;
  color: white;
  font-weight: bolder;
}
